@use "../../../styles.scss" as s;

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: s.$font-family;
  padding: 1.125rem 1.125rem;
  border-radius: s.$main-border-radius;
  background-color: s.$white;
  box-shadow: s.$main-shadow;

  &__title {
    display: flex;
    gap: 0.5rem;
    h5 {
      font-size: 1.0625rem;
      font-weight: 600;
      color: s.$gray-dark;
    }
  }
  &__amount {
    color: s.$gray-dark;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
  }
  &__date {
    color: #535050;
    font-size: 0.8rem;
    font-weight: 400;
  }
  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    text-align: center;
    &-income {
      color: s.$income-icon-color;
      background-color: s.$income-icon-bg-color;
    }
    &-expense {
      color: s.$expense-icon-color;
      background-color: s.$expense-icon-bg-color;
    }
  }
  &__remove {
    color: s.$remove-color;
    font-size: 0.975rem;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0.3125rem;
  }
  &__amount-expense {
    color: s.$amount-expense-color;
  }
  &__amount-income {
    color: s.$amount-income-color;
  }
}
